video::-webkit-media-controls {display:none !important;} /* 隐藏Chrome/Safari控制条 */
video::-webkit-media-controls-enclosure {display:none !important;}
video::-webkit-media-controls-panel {display:none !important;}
video::-webkit-media-controls-play-button {display:none !important;}
video::-webkit-media-controls-start-playback-button {display:none !important;}
video::-webkit-media-controls-current-time-display {display:none !important;}
video::-webkit-media-controls-time-remaining-display {display:none !important;}
video::-webkit-media-controls-seek-back-button {display:none !important;}
video::-webkit-media-controls-seek-forward-button {display:none !important;}
video::-webkit-media-controls-fullscreen-button {display:none !important;}